form{
    padding:10% 5%;
}
.display-4{
    margin-bottom: 2%;
}
.filled{
    margin: 5%;
}
.details{
    margin:2% 5%;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    padding: 2%;
}
.classsecond{
    margin-top: 2%;
    font-size: 20px;
}
.buttonsecond{
    margin-left: 5%;
}